# All client-exposed values. NEXT_PUBLIC_* is inlined into the browser bundle.
# Backend URL is public (the API is meant to be called from the browser).
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_API_BASE_URL=http://localhost:10000
